@import 'nullstyle.scss';

* {
    background-color: rgb(12, 14, 18);
}
body {
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.section-search {
    padding: 20px 0;

    background-color: rgb(17, 21, 26);

    &__container {
        display: flex;
        align-items: center;

        background-color: rgb(17, 21, 26);
    }
    &__left{
        margin-right: 12px;

        background-color: rgb(17, 21, 26);
    }
    &__icon{
        width: 70px;
        transform: translateY(28px);

        fill:rgb(236, 244, 251);
        background-color: rgb(17, 21, 26);
    }
    &__right {
        background-color: rgb(17, 21, 26);
    }
    &__heading {
        padding: 10px 0 10px;
        font-size: 34px;
        transform: translateX(-60px);

        color: rgb(236, 244, 251);
        background-color: rgb(17, 21, 26);
    }
    &__heading:hover {
        cursor: default;
    }
    &__form {
        background-color: rgb(17, 21, 26);
    }
    &__input {
        margin: 10px 10px 10px 0;
        padding-left: 10px;
        height: 28px;
        min-width: 382px;
        display: block;

        border: 2px solid rgb(36, 41, 46);
        border-radius: 4px;
        background-color: rgb(17, 21, 26);
        color: rgb(236, 244, 251);
    }
    &__input:active{
        background-color: rgb(17, 21, 26);
        color: rgb(236, 244, 251);
    }
    &__input:focus {
        background-color: rgb(17, 21, 26);
        color: rgb(236, 244, 251);
    }
    &__btn {
        display: inline-block;
        height: 28px;
        padding: 0 10px;
        margin-right: 2px;

        color: rgb(236, 244, 251);
        border: 2px solid rgb(36, 41, 46);
        border-radius: 4px;
    }
    &__btn:active {
        transform: translateY(1px);
    }
    &__error {
        display: inline-block;
        
        min-width: 310px;
        height: 28px;
        padding: 2px 10px ;

        border: 2px solid rgb(36, 41, 46);
        border-radius: 4px;
        color: red;
        &_none {
            display: none;
        }
    }
}
.section-results {
    color: rgb(180, 189, 200);

    &__container {
    }
    &__status-message {
        padding-top: 20px;
    }
    &__result {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        padding: 10px 0;
        min-height: 140px;
        width: 96%;

        border: 2px solid rgb(36, 41, 46);
        border-radius: 4px;
    }
    &__left {
        flex: 0 1 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 2px;
    }
    &__number { 
        flex: 1 0 20%;
        text-align: center;
    }
    &__rep-name {
        flex: 1 1 80%;
        max-width: 200px;

        overflow: hidden;
        color: rgb(180, 189, 200);
    }
    &__rep-name:hover {
        font-weight: 600;
        color: rgb(236, 244, 251);
    }
    &__center {
        flex: 0 1 60%;
        padding: 10px 20px;
        
        max-width: 600px;
        max-height: 600px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &__language {
        max-width: 600px;
        max-height: 600px;
        overflow: hidden;
    }
    &__visibility {
        max-width: 600px;
        max-height: 600px;
        overflow: hidden;
    }
    &__project-description {
        max-width: 600px;
        max-height: 550px;
        overflow: scroll;
    }
    &__right {
        flex: 0 1 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__avatar {
        flex: 1 1 30%;
        margin-right: 10px;
        max-width: 50px;
        max-height: 50px;

        border-radius: 50%;
    }
    &__owner-info{
        flex: 1 1 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__owner {
        padding-bottom: 2px;
        max-width: 100px;

        overflow: hidden;
    }
    &__id {
        padding-left: 2px;
        font-size: 10px;
        line-height: 6px;
    }
}

@media (max-width: 534px) {
    .section-search {
        &__heading {
            font-size: 24px;
        }
    }
}